
.contact {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 30px;
}
.contact-details {
    display: flex;
    flex-direction: column;
    padding: 40px;
    line-height: 2;
}
.program {
    display: flex;
    flex-direction: column;
    padding: 40px;
    line-height: 2;
}
